<html>
<head>
<link_to rel="stylesheet" type="text/css" href="css/styles.css">
<link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
</head>

 <body>
<div class="container">

<div class="nav">
<%= link_to "All", "#" %>
<%= link_to "Advertising", "#" %>
<%= link_to "Print", "#" %>
<%= link_to "TV/Video", "#" %>
<%= link_to "Interactive", "#" %>
<%= link_to "Identity", "#" %>
<%= link_to "Packaging", "#" %>
<%= link_to "Books", "#" %>
<%= link_to "Typography", "#" %>
<%= link_to "Illustration", "#" %>
<%= link_to "Photography", "#" %>
<%= link_to "Info", "#" %>
<%= link_to "Stuff", "#" %>
</div>

<div class="title";
<h2>Tony Bartolucci  Art Director</h2>
</div>

</div>

</body>
</html>